- lạm phát: https://fred.stlouisfed.org/series/CPIAUCSL#
- lãi suất: https://fred.stlouisfed.org/series/FEDFUNDS#

file
- gold_5y_1d.csv: giá vàng trong nhiều năm từ 2020 đến 2025

### Bảng dữ liệu giá vàng

|INPUTS	       | Description |
|------------|------------|
|Date | thời gian giao dịch (ngày)   |
| Close | giá đóng cửa    |
| Hight | giá cao     |
| Low | giá thấp     |
| Volume | số lượng giao dịch     |
| open | giá mở cửa     |

- df_fed_gold.csv: giá vàng và dữ liệu lãi suất điều hành của FED tính theo quý

|INPUTS	       | Description |
|------------|------------|
|observation_date | thời gian giao dịch (quý)   |
| FEDFUNDS | lãi suất    |
| year | năm     |
| quarter_number | quý     |
| quarter | quý năm     |
| avg_close_price | giá vàng trung bình theo quý    |

- df_fed_cpi_gold.csv:  dữ liệu giá vàng, lãi suất, lạm phát tính theo quý


|INPUTS	       | Description |
|------------|------------|
|observation_date_x | thời gian giao dịch (quý)   |
| FEDFUNDS | lãi suất    |
| year_x | năm     |
| quarter_number_x | quý    |
| quarter | quý năm    |
| CPIAUCSL | lạm phát    |
| avg_close_price | giá vàng trung bình theo quý    |

# begin

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# nhu cầu vàng trên thế giới

In [34]:
df = pd.read_csv('nhu_cau_tieu_dung_vang_20_25.csv')
df.head()

,country,Q1_20,Q2_20,Q3_20,Q4_20,Q1_21,Q2_21,Q3_21,Q4_21,Q1_22,...,Q2_23,Q3_23,Q4_23,Q1_24,Q2_24,Q3_24,Q4_24,Q1_25,Q2_25,year_on_year_change
0,India,101.9,63.7,94.6,186.2,165.8,119.6,168.0,343.9,135.5,...,158.1,210.2,266.3,139.0,149.7,248.3,265.8,118.1,134.9,-10
1,Pakistan,11.3,2.3,6.3,8.9,11.9,9.3,9.7,10.3,9.7,...,11.1,11.6,10.4,9.4,8.8,8.1,10.2,9.2,8.8,0
2,Sri Lanka,1.4,0.5,0.7,1.7,1.8,1.0,0.6,0.8,2.2,...,3.0,2.3,2.6,1.7,1.7,1.1,1.3,1.0,1.2,-28
3,Greater China,106.5,137,183.1,214.8,289.3,211.5,228.8,264.2,234.9,...,191.9,247.4,245.9,308.9,174.3,173.3,200.4,259.3,192.0,10
4,China PR Mainland,98.4,131.3,176.1,206.9,280.2,204.1,220.8,253.8,226.8,...,181.4,235.8,231.2,294.9,166.2,164.6,189.7,249.1,184.2,11

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country              41 non-null     object
 1   Q1_20                41 non-null     object
 2   Q2_20                41 non-null     object
 3   Q3_20                41 non-null     object
 4   Q4_20                41 non-null     object
 5   Q1_21                41 non-null     float64
 6   Q2_21                41 non-null     float64
 7   Q3_21                41 non-null     float64
 8   Q4_21                41 non-null     object
 9   Q1_22                41 non-null     float64
 10  Q2_22                41 non-null     float64
 11  Q3_22                41 non-null     float64
 12  Q4_22                41 non-null     float64
 13  Q1_23                41 non-null     float64
 14  Q2_23                41 non-null     float64
 15  Q3_23                41 non-null     float64
 16  Q4_23                41 non-null     float64
 17  Q1_24                41 non-null     float64
 18  Q2_24                41 non-null     float64
 19  Q3_24                41 non-null     float64
 20  Q4_24                41 non-null     float64
 21  Q1_25                41 non-null     float64
 22  Q2_25                41 non-null     float64
 23  year_on_year_change  41 non-null     object
dtypes: float64(17), object(7)
memory usage: 7.8+ KB

In [36]:
# Danh sách các cột cần chuyển
cols_to_convert = ["Q1_20", "Q2_20", "Q3_20", "Q4_20", "Q4_21"]

# Chuyển toàn bộ sang float, giá trị lỗi sẽ thành NaN
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# Kiểm tra kiểu dữ liệu sau khi chuyển
print(df[cols_to_convert].dtypes)

# Kiểm tra số lượng NaN của từng cột
print(df[cols_to_convert].isna().sum())

Q1_20    float64
Q2_20    float64
Q3_20    float64
Q4_20    float64
Q4_21    float64
dtype: object
Q1_20    1
Q2_20    1
Q3_20    1
Q4_20    1
Q4_21    1
dtype: int64

In [37]:
df.isnull().sum()

country                0
Q1_20                  1
Q2_20                  1
Q3_20                  1
Q4_20                  1
Q1_21                  0
Q2_21                  0
Q3_21                  0
Q4_21                  1
Q1_22                  0
Q2_22                  0
Q3_22                  0
Q4_22                  0
Q1_23                  0
Q2_23                  0
Q3_23                  0
Q4_23                  0
Q1_24                  0
Q2_24                  0
Q3_24                  0
Q4_24                  0
Q1_25                  0
Q2_25                  0
year_on_year_change    0
dtype: int64

In [38]:
df1 = df.copy()
# xoá các giá trị thiếu:
df1.dropna(inplace=True)

In [39]:
# lọc cột change và lọc 3 dòng cuối:
df2 = df1.drop(columns=["year_on_year_change"])
df3 = df2[:-3]
df3

,country,Q1_20,Q2_20,Q3_20,Q4_20,Q1_21,Q2_21,Q3_21,Q4_21,Q1_22,...,Q1_23,Q2_23,Q3_23,Q4_23,Q1_24,Q2_24,Q3_24,Q4_24,Q1_25,Q2_25
0,India,101.9,63.7,94.6,186.2,165.8,119.6,168.0,343.9,135.5,...,126.3,158.1,210.2,266.3,139.0,149.7,248.3,265.8,118.1,134.9
1,Pakistan,11.3,2.3,6.3,8.9,11.9,9.3,9.7,10.3,9.7,...,9.9,11.1,11.6,10.4,9.4,8.8,8.1,10.2,9.2,8.8
2,Sri Lanka,1.4,0.5,0.7,1.7,1.8,1.0,0.6,0.8,2.2,...,2.7,3.0,2.3,2.6,1.7,1.7,1.1,1.3,1.0,1.2
3,Greater China,106.5,137.0,183.1,214.8,289.3,211.5,228.8,264.2,234.9,...,273.9,191.9,247.4,245.9,308.9,174.3,173.3,200.4,259.3,192.0
4,China PR Mainland,98.4,131.3,176.1,206.9,280.2,204.1,220.8,253.8,226.8,...,261.5,181.4,235.8,231.2,294.9,166.2,164.6,189.7,249.1,184.2
5,Hong Kong SAR,4.9,3.2,4.3,5.4,5.8,5.2,6.2,7.6,4.6,...,9.4,8.0,9.6,11.6,10.3,5.2,6.5,7.5,6.1,4.5
6,Taiwan Province of China,3.2,2.4,2.7,2.5,3.3,2.3,1.8,2.9,3.5,...,3.0,2.6,2.1,3.2,3.8,2.9,2.3,3.3,4.2,3.3
7,Japan,-3.5,0.1,3.6,4.3,8.2,0.2,5.9,1.2,-6.9,...,1.5,6.5,4.5,3.4,2.0,8.3,4.2,3.3,3.1,2.6
8,Indonesia,8.0,7.3,9.9,12.5,11.5,8.1,13.1,14.1,10.5,...,11.9,8.4,12.6,12.8,12.1,8.8,13.0,13.5,13.0,9.1
9,Malaysia,3.3,2.3,3.8,4.1,4.6,3.4,2.3,5.1,5.7,...,4.5,3.9,3.7,4.7,6.0,4.3,3.8,4.9,6.2,4.5
10,Singapore,2.9,1.2,2.6,2.7,3.5,2.7,2.1,3.2,4.1,...,3.3,3.0,2.7,3.6,4.0,3.2,2.7,3.5,4.2,3.6
11,Korea Republic of,7.9,7.7,9.9,9.8,10.9,9.4,9.1,10.2,9.1,...,7.4,6.6,5.9,7.7,8.6,6.9,6.9,8.7,11.0,8.0
12,Thailand,7.5,-39.9,-43.8,-5.3,8.3,7.5,8.6,12.4,3.8,...,7.4,7.6,13.0,15.1,7.8,9.3,14.4,17.4,9.1,11.6
13,Vietnam,16.8,6.8,6.6,9.6,18.6,12.6,3.3,8.5,19.6,...,17.2,12.8,11.9,13.7,18.3,14.9,10.6,11.5,15.5,11.9
15,Middle East,58.2,33.6,45.3,51.8,66.6,63.0,63.9,67.1,72.5,...,76.2,84.6,71.7,68.9,75.4,74.2,61.0,70.5,73.5,70.7
16,Saudi Arabia,11.3,13.4,9.8,13.6,22.8,25.9,18.4,18.1,17.0,...,16.0,20.8,15.6,15.7,17.4,17.5,13.7,16.1,19.1,14.6
17,UAE,11.3,2.1,5.2,8.1,10.7,8.8,10.1,12.0,14.5,...,12.0,13.3,12.6,13.3,12.9,12.5,10.6,12.2,11.0,11.8
18,Kuwait,4.2,3.0,2.5,3.4,4.5,4.4,3.8,3.9,4.1,...,4.1,5.5,4.9,5.1,4.5,4.7,4.2,5.0,3.8,4.6
19,Egypt,7.7,2.0,6.3,7.3,8.8,7.7,8.9,8.5,12.1,...,15.9,17.1,12.6,11.5,13.2,14.4,10.4,12.1,11.1,11.5
20,Islamic Republic of Iran,16.6,9.9,16.3,13.5,12.2,9.4,15.4,14.9,17.7,...,20.0,18.9,17.8,15.0,18.7,17.5,15.6,17.2,19.9,20.4
21,Other Middle East,7.1,3.2,5.2,6.0,7.7,6.8,7.4,9.7,7.1,...,8.3,9.0,8.2,8.3,8.7,7.8,6.5,7.9,8.6,7.7
22,Turkey,31.9,23.9,55.6,35.7,53.2,12.2,18.5,11.3,17.6,...,60.0,51.9,39.8,40.5,56.6,39.0,22.1,35.4,29.2,23.1
23,Russian Federation,10.8,4.9,9.0,10.1,10.3,10.8,12.7,13.0,13.9,...,15.0,16.9,19.6,19.7,15.7,17.8,19.7,20.6,15.1,16.5
24,Americas,49.3,44.0,61.7,82.4,70.0,82.0,68.1,101.2,70.3,...,70.2,82.7,63.0,92.1,55.6,64.3,59.4,83.0,51.2,52.1
25,United States,37.7,32.8,50.1,66.8,58.2,67.4,56.2,83.1,57.6,...,58.0,68.1,51.4,75.0,44.6,51.5,47.7,65.6,39.2,39.0
26,Canada,4.3,4.1,4.9,7.5,5.4,6.9,4.6,9.1,6.1,...,5.6,6.6,4.2,7.5,4.3,4.9,4.2,7.9,5.5,5.5
27,Mexico,3.8,3.1,3.2,3.2,3.2,3.5,3.5,3.9,3.2,...,3.3,3.6,3.6,4.2,3.3,3.6,3.6,3.9,3.0,3.4
28,Brazil,3.6,4.1,3.5,4.9,3.3,4.2,3.7,5.1,3.4,...,3.3,4.3,3.9,5.5,3.5,4.4,4.0,5.5,3.5,4.2
29,Europe ex CIS,85.5,79.4,59.3,88.1,86.1,86.8,71.0,98.7,91.9,...,49.8,47.6,44.3,60.4,25.8,26.0,30.7,52.0,37.6,42.8
30,France,3.3,2.5,3.2,5.1,3.8,2.9,3.2,7.2,4.4,...,4.6,4.0,2.7,5.6,2.0,2.3,1.6,5.4,1.9,1.8
31,Germany,47.7,45.1,30.7,42.6,45.6,46.9,35.8,45.4,48.7,...,13.7,14.1,13.7,16.1,7.6,0.5,5.5,12.8,11.5,13.2
32,Italy,2.0,1.8,2.4,7.6,2.2,3.4,2.7,8.9,2.5,...,2.6,3.8,3.0,9.4,2.4,3.7,2.8,9.0,2.3,3.6
33,Spain,1.8,1.6,1.5,2.1,1.6,1.9,1.8,2.5,1.8,...,1.8,2.1,1.9,2.5,1.9,2.1,2.0,2.6,1.9,2.0
34,United Kingdom,6.8,5.8,6.4,10.6,6.0,7.6,8.3,12.9,7.1,...,7.0,7.3,7.1,9.6,4.6,6.5,7.4,9.4,6.3,6.7
35,Switzerland,14.0,11.8,7.5,9.6,13.0,12.0,9.1,9.7,13.5,...,10.8,8.1,8.0,8.8,1.4,5.1,5.0,5.4,5.8,6.3
36,Austria,2.8,3.3,2.4,3.1,3.2,2.9,2.5,3.6,3.7,...,1.3,0.9,0.9,1.1,0.2,0.5,0.6,1.1,0.6,1.1

In [8]:
# lưu file:
df3.to_csv('tieu_thu_vang.csv', index=False)

In [40]:
df3 = pd.read_csv('tieu_thu_vang.csv')
df3.head()

,country,Q1_20,Q2_20,Q3_20,Q4_20,Q1_21,Q2_21,Q3_21,Q4_21,Q1_22,...,Q1_23,Q2_23,Q3_23,Q4_23,Q1_24,Q2_24,Q3_24,Q4_24,Q1_25,Q2_25
0,India,101.9,63.7,94.6,186.2,165.8,119.6,168.0,343.9,135.5,...,126.3,158.1,210.2,266.3,139.0,149.7,248.3,265.8,118.1,134.9
1,Pakistan,11.3,2.3,6.3,8.9,11.9,9.3,9.7,10.3,9.7,...,9.9,11.1,11.6,10.4,9.4,8.8,8.1,10.2,9.2,8.8
2,Sri Lanka,1.4,0.5,0.7,1.7,1.8,1.0,0.6,0.8,2.2,...,2.7,3.0,2.3,2.6,1.7,1.7,1.1,1.3,1.0,1.2
3,Greater China,106.5,137.0,183.1,214.8,289.3,211.5,228.8,264.2,234.9,...,273.9,191.9,247.4,245.9,308.9,174.3,173.3,200.4,259.3,192.0
4,China PR Mainland,98.4,131.3,176.1,206.9,280.2,204.1,220.8,253.8,226.8,...,261.5,181.4,235.8,231.2,294.9,166.2,164.6,189.7,249.1,184.2

# lãi suất, lạm phát

In [41]:
df_g = pd.read_csv('/Users/user/gold_forecasting_timeseries/data/gold_5y_1d.csv')
df_g.head()

         Date        Close         High          Low         Open    Volume
0  2020/07/29  1953.500000  1953.500000  1952.599976  1953.199951  209835.0
1  2020/07/30  1942.300049  1965.099976  1930.000000  1963.400024   28853.0
2  2020/07/31  1962.800049  1981.099976  1948.000000  1948.599976    2914.0
3  2020/08/03  1966.000000  1984.300049  1955.500000  1984.300049     683.0
4  2020/08/04  2001.199951  2016.199951  1968.800049  1971.000000    2010.0

In [42]:
# xoá các giá trị null:
df_g.dropna(inplace=True)
df_g

            Date        Close         High          Low         Open    Volume
0     2020/07/29  1953.500000  1953.500000  1952.599976  1953.199951  209835.0
1     2020/07/30  1942.300049  1965.099976  1930.000000  1963.400024   28853.0
2     2020/07/31  1962.800049  1981.099976  1948.000000  1948.599976    2914.0
3     2020/08/03  1966.000000  1984.300049  1955.500000  1984.300049     683.0
4     2020/08/04  2001.199951  2016.199951  1968.800049  1971.000000    2010.0
...          ...          ...          ...          ...          ...       ...
1251  2025/07/21  3401.899902  3411.699951  3350.300049  3350.300049      53.0
1252  2025/07/22  3439.199951  3441.000000  3395.600098  3411.000000      39.0
1253  2025/07/23  3394.100098  3433.899902  3388.100098  3430.300049      63.0
1254  2025/07/24  3371.000000  3371.000000  3367.000000  3367.000000    1175.0
1255  2025/07/25  3334.000000  3345.000000  3326.500000  3344.000000      67.0

[1256 rows x 6 columns]

In [43]:
# chuẩn hoá cột Date:
df_g['Date'] = pd.to_datetime(df_g['Date'])

#khối lượng giao dịch trên từng quý

In [44]:
# tạo cột theo quý
df_g["year"] = df_g["Date"].dt.year
df_g["quarter_number"] = df_g["Date"].dt.quarter

In [45]:
df_g["quarter"] = df_g["year"].astype(str) + "-Q" + df_g["quarter_number"].astype(str)

In [46]:
# tính khối lượng giao dịch theo quý:
giaodich_quy = df_g.groupby('quarter')['Volume'].sum().reset_index()
giaodich_quy

    quarter    Volume
0   2020-Q3  271093.0
1   2020-Q4  310344.0
2   2021-Q1  410657.0
3   2021-Q2  229245.0
4   2021-Q3  292114.0
5   2021-Q4  240759.0
6   2022-Q1  398521.0
7   2022-Q2  178428.0
8   2022-Q3  247736.0
9   2022-Q4  179977.0
10  2023-Q1  300737.0
11  2023-Q2  229032.0
12  2023-Q3  249556.0
13  2023-Q4  217162.0
14  2024-Q1  436453.0
15  2024-Q2  170292.0
16  2024-Q3  191544.0
17  2024-Q4  267596.0
18  2025-Q1  404747.0
19  2025-Q2  233227.0
20  2025-Q3    6141.0

In [47]:
# tính giá trung bình của từng quý
avg_price_by_quarter = (
    df_g.groupby("quarter")["Close"]
    .mean()
    .reset_index()
    .rename(columns={"Close": "avg_close_price"})
)
avg_price_by_quarter

    quarter  avg_close_price
0   2020-Q3      1943.897773
1   2020-Q4      1875.492182
2   2021-Q1      1791.680332
3   2021-Q2      1814.579371
4   2021-Q3      1788.821869
5   2021-Q4      1795.578114
6   2022-Q1      1878.958055
7   2022-Q2      1870.464519
8   2022-Q3      1724.748438
9   2022-Q4      1729.666671
10  2023-Q1      1890.424192
11  2023-Q2      1978.224192
12  2023-Q3      1926.465076
13  2023-Q4      1975.695233
14  2024-Q1      2070.993434
15  2024-Q2      2336.577765
16  2024-Q3      2474.848431
17  2024-Q4      2661.817192
18  2025-Q1      2867.896729
19  2025-Q2      3279.814508
20  2025-Q3      3349.478953

In [48]:
# merge 2 data của giá trên từng quý và data tổng khối lượng giao dịch trên từng quý:
df_quarterly = pd.merge(giaodich_quy, avg_price_by_quarter, on="quarter")
df_quarterly

    quarter    Volume  avg_close_price
0   2020-Q3  271093.0      1943.897773
1   2020-Q4  310344.0      1875.492182
2   2021-Q1  410657.0      1791.680332
3   2021-Q2  229245.0      1814.579371
4   2021-Q3  292114.0      1788.821869
5   2021-Q4  240759.0      1795.578114
6   2022-Q1  398521.0      1878.958055
7   2022-Q2  178428.0      1870.464519
8   2022-Q3  247736.0      1724.748438
9   2022-Q4  179977.0      1729.666671
10  2023-Q1  300737.0      1890.424192
11  2023-Q2  229032.0      1978.224192
12  2023-Q3  249556.0      1926.465076
13  2023-Q4  217162.0      1975.695233
14  2024-Q1  436453.0      2070.993434
15  2024-Q2  170292.0      2336.577765
16  2024-Q3  191544.0      2474.848431
17  2024-Q4  267596.0      2661.817192
18  2025-Q1  404747.0      2867.896729
19  2025-Q2  233227.0      3279.814508
20  2025-Q3    6141.0      3349.478953

In [49]:
avg_price_by_quarter

    quarter  avg_close_price
0   2020-Q3      1943.897773
1   2020-Q4      1875.492182
2   2021-Q1      1791.680332
3   2021-Q2      1814.579371
4   2021-Q3      1788.821869
5   2021-Q4      1795.578114
6   2022-Q1      1878.958055
7   2022-Q2      1870.464519
8   2022-Q3      1724.748438
9   2022-Q4      1729.666671
10  2023-Q1      1890.424192
11  2023-Q2      1978.224192
12  2023-Q3      1926.465076
13  2023-Q4      1975.695233
14  2024-Q1      2070.993434
15  2024-Q2      2336.577765
16  2024-Q3      2474.848431
17  2024-Q4      2661.817192
18  2025-Q1      2867.896729
19  2025-Q2      3279.814508
20  2025-Q3      3349.478953

link đến trang lãi suất điều hành của FED dữ liệu lấy theo quý từ 2020 đến 2025:
https://fred.stlouisfed.org/series/FEDFUNDS#

In [50]:
df_fed = pd.read_csv('FEDFUNDS (1).csv')
df_fed

   observation_date  FEDFUNDS
0        2020/04/01      0.06
1        2020/07/01      0.09
2        2020/10/01      0.09
3        2021/01/01      0.08
4        2021/04/01      0.07
5        2021/07/01      0.09
6        2021/10/01      0.08
7        2022/01/01      0.12
8        2022/04/01      0.77
9        2022/07/01      2.19
10       2022/10/01      3.65
11       2023/01/01      4.52
12       2023/04/01      4.99
13       2023/07/01      5.26
14       2023/10/01      5.33
15       2024/01/01      5.33
16       2024/04/01      5.33
17       2024/07/01      5.26
18       2024/10/01      4.65
19       2025/01/01      4.33
20       2025/04/01      4.33
21       2025/07/01      4.33

In [51]:
# tạo cột quý cho df_fed:
df_fed['observation_date'] = pd.to_datetime(df_fed['observation_date'])
df_fed['year'] = df_fed['observation_date'].dt.year
df_fed['quarter_number'] = df_fed['observation_date'].dt.quarter

In [52]:
df_fed["quarter"] = df_fed["year"].astype(str) + "-Q" + df_fed["quarter_number"].astype(str)

In [53]:
# gộp giá vàng và lãi suất theo guý
df_fed_gold = pd.merge(df_fed, avg_price_by_quarter, on="quarter")
df_fed_gold

   observation_date  FEDFUNDS  year  quarter_number  quarter  avg_close_price
0        2020-07-01      0.09  2020               3  2020-Q3      1943.897773
1        2020-10-01      0.09  2020               4  2020-Q4      1875.492182
2        2021-01-01      0.08  2021               1  2021-Q1      1791.680332
3        2021-04-01      0.07  2021               2  2021-Q2      1814.579371
4        2021-07-01      0.09  2021               3  2021-Q3      1788.821869
5        2021-10-01      0.08  2021               4  2021-Q4      1795.578114
6        2022-01-01      0.12  2022               1  2022-Q1      1878.958055
7        2022-04-01      0.77  2022               2  2022-Q2      1870.464519
8        2022-07-01      2.19  2022               3  2022-Q3      1724.748438
9        2022-10-01      3.65  2022               4  2022-Q4      1729.666671
10       2023-01-01      4.52  2023               1  2023-Q1      1890.424192
11       2023-04-01      4.99  2023               2  2023-Q2      1978.224192
12       2023-07-01      5.26  2023               3  2023-Q3      1926.465076
13       2023-10-01      5.33  2023               4  2023-Q4      1975.695233
14       2024-01-01      5.33  2024               1  2024-Q1      2070.993434
15       2024-04-01      5.33  2024               2  2024-Q2      2336.577765
16       2024-07-01      5.26  2024               3  2024-Q3      2474.848431
17       2024-10-01      4.65  2024               4  2024-Q4      2661.817192
18       2025-01-01      4.33  2025               1  2025-Q1      2867.896729
19       2025-04-01      4.33  2025               2  2025-Q2      3279.814508
20       2025-07-01      4.33  2025               3  2025-Q3      3349.478953

In [26]:
# lưu file:
df_fed_gold.to_csv('df_fed_gold.csv', index=False)

In [54]:
df_fed_gold = pd.read_csv('df_fed_gold.csv')
df_fed_gold.tail()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,1.764722
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,1.754311
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,1.980799
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,1.735290
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,1.670490

# xử lý lãi suất thực của FED

link đến trang lãi suất thực của fed: https://fred.stlouisfed.org/series/REAINTRATREARAT10Y#

In [55]:
df_fedfureal = pd.read_csv('REAINTRATREARAT5Y.csv')
df_fedfureal.head()

  observation_date  REAINTRATREARAT10Y
0       2020/04/01           -0.097717
1       2020/07/01           -0.365272
2       2020/10/01           -0.246005
3       2021/01/01           -0.151111
4       2021/04/01            0.049777

In [56]:
# tạo cột quý cho df_fed:
df_fedfureal['observation_date'] = pd.to_datetime(df_fedfureal['observation_date'])
df_fedfureal['year'] = df_fedfureal['observation_date'].dt.year
df_fedfureal['quarter_number'] = df_fedfureal['observation_date'].dt.quarter

In [57]:
df_fedfureal

   observation_date  REAINTRATREARAT10Y  year  quarter_number
0        2020-04-01           -0.097717  2020               2
1        2020-07-01           -0.365272  2020               3
2        2020-10-01           -0.246005  2020               4
3        2021-01-01           -0.151111  2021               1
4        2021-04-01            0.049777  2021               2
5        2021-07-01           -0.140236  2021               3
6        2021-10-01            0.114529  2021               4
7        2022-01-01            0.369393  2022               1
8        2022-04-01            1.059464  2022               2
9        2022-07-01            1.040683  2022               3
10       2022-10-01            1.768057  2022               4
11       2023-01-01            1.754312  2023               1
12       2023-04-01            1.347150  2023               2
13       2023-07-01            1.575950  2023               3
14       2023-10-01            1.952563  2023               4
15       2024-01-01            1.741221  2024               1
16       2024-04-01            2.013720  2024               2
17       2024-07-01            1.764722  2024               3
18       2024-10-01            1.754311  2024               4
19       2025-01-01            1.980799  2025               1
20       2025-04-01            1.735290  2025               2
21       2025-07-01            1.670490  2025               3

In [58]:
df_fedfureal["quarter"] = df_fedfureal["year"].astype(str) + "-Q" + df_fedfureal["quarter_number"].astype(str)

In [59]:
# gộp dữ liệu lãi suất theo quý
df_fedreal_gold = pd.merge(df_fed_gold, df_fedfureal, on="quarter")
df_fedreal_gold.tail()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y_x,observation_date,REAINTRATREARAT10Y_y,year,quarter_number
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,1.764722,2024-07-01,1.764722,2024,3
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,1.754311,2024-10-01,1.754311,2024,4
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,1.980799,2025-01-01,1.980799,2025,1
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,1.735290,2025-04-01,1.735290,2025,2
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,1.670490,2025-07-01,1.670490,2025,3

In [63]:

df_fedreal_gold = df_fedreal_gold.rename(
    columns={"REAINTRATREARAT10Y_x": "REAINTRATREARAT10Y"}
)
df_fedreal_gold.head()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y,observation_date,REAINTRATREARAT10Y_y,year,quarter_number
0,2020-07-01,0.09,2020,3,2020-Q3,1943.897773,-0.365272,2020-07-01,-0.365272,2020,3
1,2020-10-01,0.09,2020,4,2020-Q4,1875.492182,-0.246005,2020-10-01,-0.246005,2020,4
2,2021-01-01,0.08,2021,1,2021-Q1,1791.680332,-0.151111,2021-01-01,-0.151111,2021,1
3,2021-04-01,0.07,2021,2,2021-Q2,1814.579371,0.049777,2021-04-01,0.049777,2021,2
4,2021-07-01,0.09,2021,3,2021-Q3,1788.821869,-0.140236,2021-07-01,-0.140236,2021,3

In [64]:
# lọc các cột observation_date_x, FEDFUNDS, year_x, quarter_number_x, quarter, avg_close_price, CPIAUCSL
df_fed_gold = df_fedreal_gold[['observation_date_x', 'FEDFUNDS', 'year_x', 'quarter_number_x', 'quarter', 'avg_close_price', 'REAINTRATREARAT10Y']]
df_fed_gold.head()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y
0,2020-07-01,0.09,2020,3,2020-Q3,1943.897773,-0.365272
1,2020-10-01,0.09,2020,4,2020-Q4,1875.492182,-0.246005
2,2021-01-01,0.08,2021,1,2021-Q1,1791.680332,-0.151111
3,2021-04-01,0.07,2021,2,2021-Q2,1814.579371,0.049777
4,2021-07-01,0.09,2021,3,2021-Q3,1788.821869,-0.140236

In [65]:
# lưu file:
df_fed_gold.to_csv('df_fed_gold.csv', index=False)
df_fed_gold

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y
0,2020-07-01,0.09,2020,3,2020-Q3,1943.897773,-0.365272
1,2020-10-01,0.09,2020,4,2020-Q4,1875.492182,-0.246005
2,2021-01-01,0.08,2021,1,2021-Q1,1791.680332,-0.151111
3,2021-04-01,0.07,2021,2,2021-Q2,1814.579371,0.049777
4,2021-07-01,0.09,2021,3,2021-Q3,1788.821869,-0.140236
5,2021-10-01,0.08,2021,4,2021-Q4,1795.578114,0.114529
6,2022-01-01,0.12,2022,1,2022-Q1,1878.958055,0.369393
7,2022-04-01,0.77,2022,2,2022-Q2,1870.464519,1.059464
8,2022-07-01,2.19,2022,3,2022-Q3,1724.748438,1.040683
9,2022-10-01,3.65,2022,4,2022-Q4,1729.666671,1.768057
10,2023-01-01,4.52,2023,1,2023-Q1,1890.424192,1.754312
11,2023-04-01,4.99,2023,2,2023-Q2,1978.224192,1.347150
12,2023-07-01,5.26,2023,3,2023-Q3,1926.465076,1.575950
13,2023-10-01,5.33,2023,4,2023-Q4,1975.695233,1.952563
14,2024-01-01,5.33,2024,1,2024-Q1,2070.993434,1.741221
15,2024-04-01,5.33,2024,2,2024-Q2,2336.577765,2.013720
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,1.764722
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,1.754311
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,1.980799
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,1.735290
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,1.670490

# xử lý chỉ số lạm phát

link đến trang lạm phát:
https://fred.stlouisfed.org/series/CPIAUCSL#

In [66]:
df_cpi = pd.read_csv('CPIAUCSL.csv')
df_cpi

   observation_date  CPIAUCSL
0        2020/04/01   256.292
1        2020/07/01   259.222
2        2020/10/01   261.092
3        2021/01/01   263.686
4        2021/04/01   268.580
5        2021/07/01   272.886
6        2021/10/01   278.719
7        2022/01/01   284.845
8        2022/04/01   291.651
9        2022/07/01   295.508
10       2022/10/01   298.498
11       2023/01/01   301.192
12       2023/04/01   303.424
13       2023/07/01   306.042
14       2023/10/01   308.158
15       2024/01/01   310.974
16       2024/04/01   313.096
17       2024/07/01   314.183
18       2024/10/01   316.539
19       2025/01/01   319.492
20       2025/04/01   320.800
21       2025/07/01   320.800

In [67]:
# tạo cột quý cho df_fed:
df_cpi['observation_date'] = pd.to_datetime(df_cpi['observation_date'])
df_cpi['year'] = df_cpi['observation_date'].dt.year
df_cpi['quarter_number'] = df_cpi['observation_date'].dt.quarter

In [68]:
df_cpi

   observation_date  CPIAUCSL  year  quarter_number
0        2020-04-01   256.292  2020               2
1        2020-07-01   259.222  2020               3
2        2020-10-01   261.092  2020               4
3        2021-01-01   263.686  2021               1
4        2021-04-01   268.580  2021               2
5        2021-07-01   272.886  2021               3
6        2021-10-01   278.719  2021               4
7        2022-01-01   284.845  2022               1
8        2022-04-01   291.651  2022               2
9        2022-07-01   295.508  2022               3
10       2022-10-01   298.498  2022               4
11       2023-01-01   301.192  2023               1
12       2023-04-01   303.424  2023               2
13       2023-07-01   306.042  2023               3
14       2023-10-01   308.158  2023               4
15       2024-01-01   310.974  2024               1
16       2024-04-01   313.096  2024               2
17       2024-07-01   314.183  2024               3
18       2024-10-01   316.539  2024               4
19       2025-01-01   319.492  2025               1
20       2025-04-01   320.800  2025               2
21       2025-07-01   320.800  2025               3

In [69]:
df_cpi["quarter"] = df_cpi["year"].astype(str) + "-Q" + df_cpi["quarter_number"].astype(str)

In [70]:
df_cpi

   observation_date  CPIAUCSL  year  quarter_number  quarter
0        2020-04-01   256.292  2020               2  2020-Q2
1        2020-07-01   259.222  2020               3  2020-Q3
2        2020-10-01   261.092  2020               4  2020-Q4
3        2021-01-01   263.686  2021               1  2021-Q1
4        2021-04-01   268.580  2021               2  2021-Q2
5        2021-07-01   272.886  2021               3  2021-Q3
6        2021-10-01   278.719  2021               4  2021-Q4
7        2022-01-01   284.845  2022               1  2022-Q1
8        2022-04-01   291.651  2022               2  2022-Q2
9        2022-07-01   295.508  2022               3  2022-Q3
10       2022-10-01   298.498  2022               4  2022-Q4
11       2023-01-01   301.192  2023               1  2023-Q1
12       2023-04-01   303.424  2023               2  2023-Q2
13       2023-07-01   306.042  2023               3  2023-Q3
14       2023-10-01   308.158  2023               4  2023-Q4
15       2024-01-01   310.974  2024               1  2024-Q1
16       2024-04-01   313.096  2024               2  2024-Q2
17       2024-07-01   314.183  2024               3  2024-Q3
18       2024-10-01   316.539  2024               4  2024-Q4
19       2025-01-01   319.492  2025               1  2025-Q1
20       2025-04-01   320.800  2025               2  2025-Q2
21       2025-07-01   320.800  2025               3  2025-Q3

In [71]:
# gộp dữ liệu lãi suất với lạm phát theo quý
df_fed_cpi_gold = pd.merge(df_fed_gold, df_cpi, on="quarter")
df_fed_cpi_gold.tail()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,REAINTRATREARAT10Y,observation_date,CPIAUCSL,year,quarter_number
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,1.764722,2024-07-01,314.183,2024,3
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,1.754311,2024-10-01,316.539,2024,4
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,1.980799,2025-01-01,319.492,2025,1
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,1.735290,2025-04-01,320.800,2025,2
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,1.670490,2025-07-01,320.800,2025,3

In [72]:
# lọc các cột observation_date_x, FEDFUNDS, year_x, quarter_number_x, quarter, avg_close_price, CPIAUCSL
df_fed_cpi_gold = df_fed_cpi_gold[['observation_date_x', 'FEDFUNDS', 'year_x', 'quarter_number_x', 'quarter', 'avg_close_price', 'CPIAUCSL','REAINTRATREARAT10Y']]

In [73]:
df_fed_cpi_gold

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,CPIAUCSL,REAINTRATREARAT10Y
0,2020-07-01,0.09,2020,3,2020-Q3,1943.897773,259.222,-0.365272
1,2020-10-01,0.09,2020,4,2020-Q4,1875.492182,261.092,-0.246005
2,2021-01-01,0.08,2021,1,2021-Q1,1791.680332,263.686,-0.151111
3,2021-04-01,0.07,2021,2,2021-Q2,1814.579371,268.580,0.049777
4,2021-07-01,0.09,2021,3,2021-Q3,1788.821869,272.886,-0.140236
5,2021-10-01,0.08,2021,4,2021-Q4,1795.578114,278.719,0.114529
6,2022-01-01,0.12,2022,1,2022-Q1,1878.958055,284.845,0.369393
7,2022-04-01,0.77,2022,2,2022-Q2,1870.464519,291.651,1.059464
8,2022-07-01,2.19,2022,3,2022-Q3,1724.748438,295.508,1.040683
9,2022-10-01,3.65,2022,4,2022-Q4,1729.666671,298.498,1.768057
10,2023-01-01,4.52,2023,1,2023-Q1,1890.424192,301.192,1.754312
11,2023-04-01,4.99,2023,2,2023-Q2,1978.224192,303.424,1.347150
12,2023-07-01,5.26,2023,3,2023-Q3,1926.465076,306.042,1.575950
13,2023-10-01,5.33,2023,4,2023-Q4,1975.695233,308.158,1.952563
14,2024-01-01,5.33,2024,1,2024-Q1,2070.993434,310.974,1.741221
15,2024-04-01,5.33,2024,2,2024-Q2,2336.577765,313.096,2.013720
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,314.183,1.764722
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,316.539,1.754311
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,319.492,1.980799
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,320.800,1.735290
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,320.800,1.670490

In [74]:
# lưu file:
df_fed_cpi_gold.to_csv('df_fed_cpi_gold.csv', index=False)
df_fed_cpi_gold

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,CPIAUCSL,REAINTRATREARAT10Y
0,2020-07-01,0.09,2020,3,2020-Q3,1943.897773,259.222,-0.365272
1,2020-10-01,0.09,2020,4,2020-Q4,1875.492182,261.092,-0.246005
2,2021-01-01,0.08,2021,1,2021-Q1,1791.680332,263.686,-0.151111
3,2021-04-01,0.07,2021,2,2021-Q2,1814.579371,268.580,0.049777
4,2021-07-01,0.09,2021,3,2021-Q3,1788.821869,272.886,-0.140236
5,2021-10-01,0.08,2021,4,2021-Q4,1795.578114,278.719,0.114529
6,2022-01-01,0.12,2022,1,2022-Q1,1878.958055,284.845,0.369393
7,2022-04-01,0.77,2022,2,2022-Q2,1870.464519,291.651,1.059464
8,2022-07-01,2.19,2022,3,2022-Q3,1724.748438,295.508,1.040683
9,2022-10-01,3.65,2022,4,2022-Q4,1729.666671,298.498,1.768057
10,2023-01-01,4.52,2023,1,2023-Q1,1890.424192,301.192,1.754312
11,2023-04-01,4.99,2023,2,2023-Q2,1978.224192,303.424,1.347150
12,2023-07-01,5.26,2023,3,2023-Q3,1926.465076,306.042,1.575950
13,2023-10-01,5.33,2023,4,2023-Q4,1975.695233,308.158,1.952563
14,2024-01-01,5.33,2024,1,2024-Q1,2070.993434,310.974,1.741221
15,2024-04-01,5.33,2024,2,2024-Q2,2336.577765,313.096,2.013720
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,314.183,1.764722
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,316.539,1.754311
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,319.492,1.980799
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,320.800,1.735290
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,320.800,1.670490

In [75]:
df_fed_cpi_gold = pd.read_csv('df_fed_cpi_gold.csv')
df_fed_cpi_gold.tail()

,observation_date_x,FEDFUNDS,year_x,quarter_number_x,quarter,avg_close_price,CPIAUCSL,REAINTRATREARAT10Y
16,2024-07-01,5.26,2024,3,2024-Q3,2474.848431,314.183,1.764722
17,2024-10-01,4.65,2024,4,2024-Q4,2661.817192,316.539,1.754311
18,2025-01-01,4.33,2025,1,2025-Q1,2867.896729,319.492,1.980799
19,2025-04-01,4.33,2025,2,2025-Q2,3279.814508,320.800,1.735290
20,2025-07-01,4.33,2025,3,2025-Q3,3349.478953,320.800,1.670490